body {
    /* display: flex;
    flex-direction: column; */
    height: 100vh;
    width: 100%;
}

.navbar-top {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #434343); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #434343);
  padding: 2px;
}

#appTitle {
    font-family: 'Chicle', cursive;
    color: white;
    font-size: 50px;
}

.nav.navbar-nav {
    padding: 30px;
}